body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}

.scrollbar {
	float: left;
	height: 170px;
	width: 100%;
	background: #fff;
	overflow-y: scroll;
	margin-bottom: 25px;
}

section.top-routes {
	text-align: center;
}

.sidebar-left {
	padding-right: 10px;
	border-right: 1px solid #d4d4d4;
}

.scrollbar-primary::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: orange;
}

.scrollbar-warning::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #f5f5f5;
	border-radius: 10px;
}

.card:hover {
	border: 1px solid #ed8323;
}

a.nav-link.waves-effect.waves-light:hover {
	background: orange;
}

a.nav-link.active {
	background: orange;
}

a.nav-link.waves-light.active {
	background: #ff9800;
}

div.scrollmenu {
	background-color: transparent;
	overflow: auto;
	white-space: nowrap;
}

div.scrollmenu ul li a {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

.classic-tabs {
	margin-top: 170px;
}

div.scrollmenu li.nav-item {
	display: inline-block;
}

section.banner {
	height: 530px;
	padding: 50px 120px 50px 120px;
	background: #001650;
}

section.banner1 {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#0e3c5a),
		color-stop(#01304d),
		color-stop(#125681),
		to(#063652)
	);
	background: linear-gradient(#0e3c5a, #01304d, #125681, #063652);
}

.modal-body a.nav-link.active {
	background: #33b6e5;
	color: #fff;
}

.modal-body a.nav-link {
	color: #212020;
}

.modal-header {
	background: #06b4c7;
	color: #fff;
}

.modal-body ul.nav.md-pills.pills-primary.flex-column {
	border-right: 1px solid #ebebeb;
}

.modal-backdrop.show {
	opacity: .5;
	z-index: 1 !important;
}

/* abayomi styles Start */
#panel1011 {
	margin-left: 7rem;
}

#originFrom,
#destinationTo,
#departing-date-picker,
#returning-date-picker {
	width: 13rem;
	/* margin: 1rem; */
}

#returning-date-picker {
	// margin-top: 14rem;
	// margin-bottom: -4rem;
	margin-left: 6rem;
}
#departing-date-picker {
	margin-left: 5.5rem;
	margin-bottom: 2rem;
}

#one_wayANDround_trip {
	margin-left: 19rem;
	margin-bottom: 1rem;
}

#adultNumber,
#childrenNumber,
#classType #flight_saveAndBook {
	width: 13rem;
	// margin-top:1rem;
}
.departing-text {
	margin-right: -7rem;
}
#childrenNumber {
	margin-left: 0.5rem;
}

#classType {
	width: 13rem;
	margin-left: 5.8rem;
	height: 45px;
	// margin-top: -25rem;
}

#flight_saveAndBook {
	height: 45px;
	padding: 8px;
	margin-left: -6rem;
	margin-top: 4rem;
}

.belowDiv {
	margin-top: 2rem;
}

.classtype_text {
	margin-right: -11rem;
	// margin-left: 7rem;
}

@media (max-width: 1024px) {
	#originFrom {
		margin-left: -.8rem;
		// background: red;
	}
	#returning-date-picker {
		width: 13rem;
		margin-left: 13.5rem;
	}
	.returning-text {
		margin-right: -15rem;
	}
}
@media (max-width: 768px) {
	#originFrom,
	#destinationTo,
	#returning-date-picker {
		width: 9rem;
		margin-right: 1.5rem;
	}

	#departing-date-picker {
		width: 9rem;
		margin-left: 4.5rem;
	}

	#adultNumber,
	#childrenNumber,
	#classType {
		width: 9rem;
	}

	@media (max-width: 425px) {
		.panel1011_firstDiv {
			margin-bottom: 10rem;
		}

		#originFrom,
		#destinationTo,
		#returning-date-picker,
		#departing-date-picker {
			width: 22rem;
			margin-top: -.1rem;
			margin-left: -7.3rem;
		}

		.belowDiv {
			margin-top: -10rem;
			padding: 1rem;
		}

		#adultNumber,
		#childrenNumber,
		#classType {
			width: 22rem;
			margin-left: -7.9rem;
			margin-bottom: .5rem;
		}

		#classType {
			margin-right: 7.9rem;
		}
		.destination-text,
		#origin-text {
			margin-right: 8rem;
		}

		.departing-text {
			margin-right: 8rem;
		}
		.classtype_text,
		.children-text,
		.adult-text {
			margin-right: 8rem;
		}
	}

	@media (max-width: 375px) {
		#originFrom,
		#destinationTo,
		#returning-date-picker,
		#departing-date-picker,
		#adultNumber,
		#childrenNumber,
		#classType {
			width: 20rem;
		}
		.departing-text,
		.destination-text,
		#origin-text,
		.classtype_text,
		.children-text,
		.adult-text {
			margin-left: -1.5rem;
		}
	}

	@media (max-width: 360px) {
		#originFrom,
		#destinationTo,
		#returning-date-picker,
		#departing-date-picker,
		#adultNumber,
		#childrenNumber,
		#classType {
			width: 18.8rem;
		}
	}
	@media (max-width: 320px) {
		#originFrom,
		#destinationTo,
		#returning-date-picker,
		#departing-date-picker,
		#adultNumber,
		#childrenNumber,
		#classType {
			width: 16rem;
		}
	}

	/* abayomi styles end */

	@media only screen and (max-width: 991px) {
		.mT-50 {
			margin-top: 50px !important;
		}
	}

	@media only screen and (max-width: 767px) {
		.centerElem {
			float: none !important;
			margin: 0 auto !important;
		}
	}

	@media only screen and (max-width: 768px) {
		section.banner {
			height: auto;
			padding: 0;
			background: #001650;
			width: 100%;
		}

		button.btn.btn-sm.btn-outline-warning.waves-effect.waves-light {
			padding: 5px 8px;
		}

		.section-img img {
			width: 100%;
		}

		section.banner1 {
			padding: 0;
			background: #001650;
			width: 100%;
		}

		.classic-tabs {
			margin-top: 75px;
		}

		.view.banner {
			height: 500px !important;
		}

		h3.h4.white-text.text-left.mt-5.mb-5.wow.bounceInDown {
			text-align: center !important;
		}

		div#carousel-example-1z .carousel-item {
			height: 180px;
		}

		.carousel-caption {
			top: 0;
		}

		img.d-block.w-100 {
			height: 180px;
		}
	}

	/*Font style for the Summary Modal - Sabur Ahmed.*/
	.card-text {
		font-family: 'Courier New', Courier, monospace;
		line-height: 15px;
	}
	/*End of font style for the Summary Modal - Sabur Ahmed*/

	@media only screen and (max-width: 768px) {
		section.banner {
			height: auto;
			padding: 0;
			background: #001650;
			width: 100%;
		}

		button.btn.btn-sm.btn-outline-warning.waves-effect.waves-light {
			padding: 5px 8px 5px 8px;
		}

		.section-img img {
			width: 100%;
		}

		section.banner1 {
			padding: 0;
			background: #001650;
			width: 100%;
		}

		.classic-tabs {
			margin-top: 75px;
		}

		.view.banner {
			height: 500px !important;
		}

		h3.h4.white-text.text-left.mt-5.mb-5.wow.bounceInDown {
			text-align: center !important;
		}

		div#carousel-example-1z .carousel-item {
			height: 180px;
		}

		.carousel-caption {
			top: 0;
		}

		img.d-block.w-100 {
			height: 180px;
		}
	}

	@media only screen and (max-width: 560px) {
		.view.ng-scope {
			height: 560px !important;
		}

		.animated.zoomInRight {
			text-align: center;
		}

		.navbar.navbar-expand-lg.navbar-dark.white.lighten-2.py-3 {
			text-align: center;
		}

		.tab-content {
			width: 100%;
		}

		button.btn.btn-sm.btn-outline-warning.waves-effect.waves-light {
			padding: 5px 6px 5px 6px;
			margin: 20px 0 5px 0px;
		}

		.view.banner {
			height: 1070px !important;
		}

		h3.h4.white-text.text-left.mt-5.mb-5.wow.bounceInDown {
			text-align: center !important;
		}

		section .row.wow.fadeIn .col-lg-6.col-md-12 {
			text-align: center;
		}
	}

	@media only screen and (max-width: 425px) {
		section.banner {
			height: auto;
			background: #001650;
			width: 100%;
		}

		button.btn.btn-sm.btn-outline-warning.waves-effect.waves-light {
			padding: 8px 17px 8px 16px;
			margin: 20px 3px 8px 3px;
		}

		.view.ng-scope {
			height: 560px !important;
		}

		section.banner.mt-5 img {
			height: 160px;
		}

		section.banner1 {
			background: #001650;
			width: 100%;
		}

		.classic-tabs {
			margin-top: 60px;
		}

		.whatwedo .tab-pane a {
			width: 170px;
		}

		footer .text-right {
			text-align: center;
		}
	}

	@media only screen and (max-width: 375px) {
		.whatwedo .tab-pane a {
			width: 150px;
		}

		button.btn.btn-sm.btn-outline-warning.waves-effect.waves-light {
			padding: 5px 10px 5px 10px;
			margin: 20px 3px 8px 3px;
		}
	}

	@media only screen and (max-width: 360px) {
		section.banner {
			height: auto;
			background: #001650;
			width: 100%;
		}

		button.btn.btn-sm.btn-outline-warning.waves-effect.waves-light {
			padding: 5px 8px 5px 8px;
		}

		.view.ng-scope {
			height: 560px !important;
		}

		section.banner.mt-5 img {
			height: 160px;
		}

		section.banner1 {
			background: #001650;
			width: 100%;
		}

		.classic-tabs {
			margin-top: 60px;
		}

		.whatwedo .tab-pane a {
			width: 143px;
		}

		footer .text-right {
			text-align: center;
		}
	}

	@media only screen and (max-width: 320px) {
		section.banner {
			height: 160px;
			background: #001650;
			width: 100%;
		}

		button.btn.btn-sm.btn-outline-warning.waves-effect.waves-light {
			padding: 5px 6px 5px 6px;
			margin: 20px 0 5px 0px;
		}

		section.banner1 {
			padding: 0;
			background: #001650;
			width: 100%;
		}

		.classic-tabs {
			margin-top: 60px;
		}

		.whatwedo .tab-pane a {
			width: 120px;
		}
	}

	.modal-dialog {
		max-width: 1000px;
	}

	.waves-input-wrapper.waves-effect.waves-light {
		width: 100%;
	}

	div#accordionEx5 {
		width: 100%;
	}

	.panel-body {
		padding: 20px 10px 0px 10px;
		line-height: 1.6;
		letter-spacing: 1px;
		border: 1px solid;
		margin: 0 0 10px;
		text-align: justify;
	}

	.table.table-bordered tbody tr th {
		color: #000;
	}

	.table.table-bordered tbody tr td {
		color: #000;
	}

	.uib-tab.nav-item.ng-scope.ng-isolate-scope a {
		color: blue;
	}
}
